/* UNIVERSAL STYLING */
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}

/* STYLING HEADER/NAV BAR */
.header{
    background-color: #FF900E1A;
    margin-bottom: 97px;
}
.container1{
    display: flex;
    justify-content: space-between;
}
.logo h3{
    font-weight: 700;
    font-size: 45px;
    padding: 40px 600px 102px 213px;
}
.navs{
    display: flex;
    gap: 40px;
    padding: 87px 300px 116px 0px;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}
/* STYLING HEADER/HEADER DESCRIPTION */
.header-des h1{
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}
.header-des p{
    text-align: center;
    color: #727272;
    margin-bottom: 32px;
    margin-top: 32px;
}
.btn1{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.explore-btn{
    background: #FF900E;
    border-radius: 8px;
    padding: 21px 24px 20px 25px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: none;
}
.banner1{
    display: flex;
    justify-content: center;
    padding: 0px 0px 33px 0px;
}
/* STYLING MAIN/FEATURE SECTION */
.feature-sec{
    display: flex;
    justify-content: space-around;
}
.container2{
    display: grid;
    grid-template-columns: 342px 342px;
    grid-gap: 24px;
    margin-left: 301px;
    margin-bottom: 130px;
}
.feature-des{
    padding: 180px 250px 322px 73px;

}
.quick{
    color: #727272;
    font-weight: 500;
    font-size: 45px;
}
.of-our{
    font-weight: 700;
    font-size: 45px;
}
.features{
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}
.feature-des h2{
    margin-bottom: 24px;
}
.feature-des p{
    color: #727272;
    margin-bottom: 32px;
}

/* STYLING OUR SERVICE SECTION */
.service-sec{
margin-bottom: 130px;
}
.container3{
    display: flex;
    justify-content: center;
    gap: 140px;
}
.services-head{
    width: 586px;
    margin-bottom: 30px;
}
.services-head h3{
    font-weight: 700;
    font-size: 45px;
    border-left: 5px solid #FF900E;
    margin-bottom: 24px;
}
.services-head p{
    color: #727272;
}
.service{
    width: 586px;
    height: 171px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}
.service-head{
    font-weight: 600;
    font-size: 20px;
    padding: 30px 302px 10px 33px;
}
.service-des{
    color: #727272;
    padding: 10px 42px 30px 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.big-btn{
    position: absolute;
    margin-top: -120px;
    margin-left: -90px;
    background: #FF900E;
    border-radius: 8px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    padding: 36px 32px 35px 32px;
    font-weight: 500;
    font-size: 25px;
}
.big-btn .years{
    font-weight: 700;
    font-size: 65px;
}

.architect{
    width: 708px;
    height: 982px;
}

/* STYLING FACT SECTION */
.fact-sec{
    margin-bottom: 80px;
}
.fact-head{
    font-weight: 700;
    font-size: 45px;
    padding: 50px 0px 24px 240px;
}
.fact-des{
    color: #727272;
    padding: 0px 0px 100px 240px;
}
.container4{
    display: flex;
    justify-content: center;
    column-gap: 124.17px;
}
.fact:hover{
    transform: rotate(15deg);
    background-color: azure;
    color: crimson;
}
.fact{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 241.83px;
    height: 241.83px;
}
.fact .under-fact{
    text-align: center;
    margin-top: 45.92px;
}
.under-fact h3{
    font-weight: 600;
    font-size: 45px;
}
.under-fact p{
    color: #727272;
    font-weight: 600;
    font-size: 20px;
}

/* EMPLOYEE SECTION/BONUS SECTION */
.employee-sec{
    margin-bottom: 150px;
}
.employee-head{
    font-weight: 700;
    font-size: 45px;
    padding: 50px 0px 70px 240px;
    margin-right: 200px;
    text-align: center;
}
.head-of-employee{
    display: flex;
    justify-content: space-around;
}
.container5{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 5px;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    margin-left: 50px;
}
.employee{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #FF900E;
    width: 250px;
    border-radius: 5px;
}
.employee img{
    width: 56px;
    height: 56px;
    padding: 10px 0px 20px 93px;
    
}
.employee h3{
    font-weight: 500;
    font-size: 30px;
}

/* STYLING SPONSOR SECTION */
.spon-sec{
margin-bottom: 130px;
}
.spon-details{
    text-align: center;
    margin-bottom: 50px;
}
.spon-head{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}
.spon-des{
    color: #727272;
}
.sponsors{
    display: flex;
    justify-content: space-around;
    background-color: white;
}
.spotify img{
    mix-blend-mode: luminosity;
}
.amazon img{
    mix-blend-mode: luminosity;
}
.google img{
    mix-blend-mode: luminosity;
}
.telerama img{
    mix-blend-mode: luminosity;
}
.figma img{
    mix-blend-mode: luminosity;
}
.spotify{
    margin-left: 240px;
}
.figma{
    margin-right: 240px;
}
.spotify-img{
    mix-blend-mode: luminosity;
}
/* STYLING FOOTER SECTION */
.footer-sec{
    padding: 0px 240px 216px 240px;
}
.footer{
    width: 1440px;
    height: 100px;
    background: #FFF4E7;
    border-radius: 8px;
}
.footer p{
    color: #424242;
    font-size: 20px;
    text-align: center;
    padding: 39px 0px 38px 0px;
}


